*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-weight: 450;
    background-color: lightgray;
    font-family: 'Roboto';
}
.container{
    background-color: #fff;
    width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    text-align: center;
    .img{
        width: 1920px;
        height: 800px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
}
a{
    text-decoration: none;
    color: black;
}
ul{
    margin: 20px 0 13px;
    display: flex;
    justify-content: center;
    gap: 32px;
    li{
        list-style: none;
        a{
            position: relative;
            transition: all ease-in-out 0.5s;
        }
        a::before{
            content: '';
            height: 3px;
            top: 110%;
            left: 0;
            width: 100%;
            position: absolute;
            background-color:#AD5727 ;
            border-radius: 8px;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform ease-in-out 0.5s;
        }
        a:hover::before,a:hover{
            transform: scaleX(1);
            transform-origin: left;
            color: #AD5727;
        }
    }
}
main{
    text-align: center;
    margin: 96px 0 32px;
}

.title{
    h1{
        margin: 3px 0 32px;
    }
}
.chefs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 32px;
    margin-bottom: 96px;
    .chef-box{
        .img-box{
            margin-bottom: 32px;
        }
        .name{
            h3{
                margin-bottom: 5px;
            }
            span{
                color: #9c9c9c;
            }
        }
    }
}
.banner{
    margin-bottom: 96px;
}
.form-contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1{
        margin-bottom:32px ;
    }
    form{
        display: flex;
        gap:12px;
        input{
            width: 448px;
            padding: 10px;
            border: 1px solid #9c9c9c;
        }
        input:focus{
            outline: none;
        }
        button{
            background-color: black;
            border: 1px solid black;
            color: white;
            padding: 10px;
        }
    }
}
.line{
    height: 1px;
    background-color: #9c9c9c;
    width: 100%;
    margin-top: 96px;
}
footer{
    width:1408px ;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}